{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800" rel="stylesheet">

<div class="card">
    <div class="header-container">
        <h2>SUNDAY CROSSWORD ☕ 🥓</h2>
        <span>
            <a href="{% url 'index' %}">NEW</a>
            <button id="show_solution">SOLUTION</button>
        </span>
    </div>
    <div class="crossword-container">
        {% if error %}
            <div class="error">{{ error }}</div>
        {% else %}
            <div>
                <div class="grid-container" style="grid-template-columns: repeat({{ crossword.size.rows }}, 1fr)">
                    {% for letter, gridnum in crossword.grid %}
                        <div class="grid-item {% if letter == '.' %}empty{% endif %}">
                            <span class="gridnum">{% if gridnum > 0 %}{{ gridnum }}{% endif %}</span>
                            {% if letter != "." %}
                                <input maxlength="1"/>
                            {% endif %}
                            <div class="content hidden">
                                {% if letter != "." %}{{ letter }}{% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="clues-container">
                <h3>ACROSS</h3>
                {% for clue in crossword.clues.across %}
                    <p>{{ clue }}</p>
                {% endfor %}
            </div>
            <div class="clues-container">
                <h3>DOWN</h3>
                {% for clue in crossword.clues.down %}
                    <p>{{ clue }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
<script>
    var solutionBtn = document.getElementById("show_solution");
    solutionBtn.addEventListener('click', () => {
        document.querySelectorAll('input').forEach(input => {
            input.classList.add('hidden');
        });

        document.querySelectorAll('.content').forEach(solution => {
            solution.classList.remove('hidden');
        });
    });
</script>