{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<h2>Katya's Crossword</h2>
<button>New Crossword</button>
<button>Solve Crossword</button>
<div class="crossword-container">
    <div class="grid-container">
        {% for row in crossword %}
            {% for letter in row %}
                <div class="grid-item {% if not letter %}empty{% endif %}"><div class="content">{{ letter }}</div></div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="clues-container">
        <h3>Across</h3>
        {% for clue in clues.across %}
            <p>{{ clue }}</p>
        {% endfor %}
    </div>
    <div class="clues-container">
        <h3>Down</h3>
        {% for clue in clues.down %}
            <p>{{ clue }}</p>
        {% endfor %}
    </div>
</div>